.app-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/public/images.jpeg'); /* Make sure the path is correct */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
}
